*{
    margin: 0px;
    padding: 0px;
}
h1{
    /* position: static; */
    position: relative;
    left: 50px;
    top: 20px;
    bottom: 20px;
}
h2{
    background-color: orange;
    position: relative;
    left: 50px;
}
h3{
    background-color: pink;
    position: fixed;
    top: 0px;
    left: 50px;
}